# Refer to http://help.github.com/ignore-files/ for docs.

#############################################
# Output Paths
#############################################

/dist
/tmp
/out-tsc

#############################################
# Dependencies
#############################################

/node_modules

#############################################
# IDE - VSCode
#############################################

# common
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# vscode - project-specific exclusion for tailwind
!.vscode/css_custom_data.json

#############################################
# System
#############################################

.DS_Store
Thumbs.db

#############################################
# Misc
#############################################

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

#############################################
# Project
#############################################

/**/.env
/notes
