# api environment variables - refer to @nestjs/config

ORIGIN="http://localhost:3333"
PORT=3333
BASE_PATH="/"
API_VERSION="v1"

# if these are specified and set to *any* value (including 0, 'false', etc) they will be active
# COMPRESSION=1
# TRUST_PROXY=1

JWT_ACCESS_TOKEN_SECRET="jwt_secret"
JWT_REFRESH_TOKEN_SECRET="jwt_refresh_secret"
JWT_ACCESS_TOKEN_EXPIRATION_TIME=3306
JWT_REFRESH_TOKEN_EXPIRATION_TIME=604800

DB_HOST=localhost
DB_PORT=5432
DB_DB=db
DB_USER=postgres
DB_PASSWORD=postgres

AWS_REGION="ca-central-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

AWS_SES_SENDER_ADDRESS="no-reply@example.com"
AWS_SES_REPLY_TO_ADDRESS="support@example.com"
